<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>file</title>
</head>
<body>
<form action="/file" method="POST" enctype="multipart/form-data">
    file : <input type="file" name="myFile">
    <button>send</button>
</form>

<form action="/upload" method="POST" enctype="multipart/form-data"></form>
<input type="file" name="file">
<button>업로드</button>
<h1>image</h1>
<img width="100px" src="/download" alt="">
<h1>image download</h1>
<a href="/download" download="test.jpg">다운로드하기</a>
<a href="/download2"></a>
</body>
</html>